
<div class="span7">
  <p>
Esta sencilla app muestra el estado de las vias haciendo uso de las camaras de La Secretaría de Transportes y Tránsito de Medellin.</p>


<p>Esta aplicacion es de libre distribucion y sin animo de lucro.</p>

<h3>Contacto</h3>

<p>Si tienes algun comentario, consejo, duda, insulto etc acerca de esta aplicacion, no dudes en escribirme.</p>

<a href="http://twitter.com/edymerchk">Luis Edimerchk Laverde</a>
</div>

