<!-- Modal -->
<div id="camaraModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sector" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="sector"></h3>
  </div>
  <div class="modal-body">
    <img src="">
  </div>
  <div class="modal-footer">
    <span id="direccion"></span>
  </div>
</div>