
<div class="camaras" class="span12">
  <%= render :partial => 'camaras/camaras' %>
</div>

<%= link_to 'Load More camaras', camaras_path(:page => @camaras.next_page), :class => 'load-more-camaras', :remote => true if @camaras.next_page %>


<%= render :partial => 'camaras/modal' %>