<%= render 'actual' %>


<h1>Listado de camaras</h1>
<table id="results" class="table table-bordered table-hover">
  <tr>
    <th>Direccion</th>
    <th>Sector</th>
    <th></th>
  </tr>
   <%= render @camaras %>

</table>
