<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li><a href="/">Home</a></li>
    <li><a href="static/about">About</a></li>
    <li><a href="mailto:edyhack@gmail.com">Contact</a></li>
  </ul>
  <h3 class="muted"><h1>Estado de las vias Medellín</h1></h3>
</div>